<footer class="d-flex footer-main">
  <div class="textone">
    <h1>MR.LUXURY</h1>
    <p>We create possibilities </p>
    <p>for the connected world <p>
    <p><strong>Be Bold.</strong></p>
    <br>
    <br>
    <br>
    <br>
    <p>© 2019 MR.LUXURY All Rights Reserved.</p>
  </div>
  <div class="text-three">
    <h4>Explore</h4>
    <p>Home</p>
    <p>About</p>
    <p>Capabilities</p>
    <p>Careers</p>
  </div>
  <div class="text-two">
    <h4>Follow</h4>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Twitter</p>
    <p>Linkedin</p>
  </div>
  <div class="text-four">
    <h4>Legal</h4>
    <p>Terms</p>
    <p>Privacy</p>
  </div>
<div class="text-five">
    <h4>Visit</h4>
    <p>Envoy So. California</p>
    <p>34 Tesla, Ste 100</p>
    <p>Irvine, Ca, USA 92618</p>
</div>
<div class="text-six">
    <h4>New Business</h4>
    <p>engage@weareluxury.com</p>
    <p>648.333.3106</p>
</div>
</footer>
